{% extends "base.html" %}

{% block content %}


    {% if a_ok and b_ok and op_ok %}
        <h1>Result:</h1>
        <p>{{ a }} {{ op }} {{ b }} = {{ res }}</p>
    {% else %}
        <h1>Error!</h1>
        {% if not a_ok %}
            <p>Parameter <strong>a</strong> must be an integer!</p>
        {% endif %}
        {% if not b_ok %}
            <p>Parameter <strong>b</strong> must be an integer!</p>
        {% endif %}
        {% if not op_ok %}
            <p>Parameter <strong>op</strong> must be "plus", "minus", "mult" or "divide"!</p>
        {% endif %}
    {% endif %}
    

{% endblock content %}