{% extends 'base.html' %}
{% load static %}

{% block title %}Calcutator{% endblock title %}

{% block content %}


    <div class="calc-wrapper">
        <form class="calc-form" action="{% url 'calc' %}" method="POST">
            {% csrf_token %}
            <input class="calc-input" type="text" name="a" placeholder="1st number" required value="{{ a }}">
            <input class="calc-input" type="text" name="b" placeholder="2nd number" required value="{{ b }}">
            <div class="calc-row">
                <button class="calc-input calc-button" type="submit" name="op" value="+"><strong>+</strong></button>
                <button class="calc-input calc-button" type="submit" name="op" value="-"><strong>-</strong></button>
            </div>
            <div class="calc-row">
                <button class="calc-input calc-button" type="submit" name="op" value="*"><strong>*</strong></button>
                <button class="calc-input calc-button" type="submit" name="op" value="/"><strong>/</strong></button>
            </div>
        </form>

        <div class="result-wrapper">
            <h2 class="result-header">Result:</h2>
            <textarea class="result-text" cols="20" rows="1" readonly>{% if ok %}{{ res }}{% else %}{% for m in msg %}{{ m }}{% endfor %}{% endif %}</textarea>
        </div>
    </div>


{% endblock content %}